

html{
  font-weight: 500;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
    overflow: auto;
    background: #fff;
}

body { height: 100%;
  font-family: 'Assistant', sans-serif;

  font-weight: 400;

  font-style: normal;
    color: #8f8f8f;
  font-weight:400;
  font-style: normal;
  font-size: 16px;
 }

#root, .container{
  width: 100%;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #606060;
    border-bottom: 1px solid rgb(93, 141, 211);
}

.hilight{
  font-weight: bold;
}

.blue{
    color:rgb(93, 141, 211);
}

a:hover{
  color: #9a9a9a;
}

h2{
  font-family: 'Overpass Mono', monospace;
  font-weight: 600;
  width: auto;
  display: inline-block;
  background: transparent;
  font-style: normal !important;
  font-size: 26px;
  margin: .3em 0;
  margin-bottom: 0em;
  letter-spacing: -1.2px;
  color: #343945;
}

h3{
  font-weight: 400;
  width: auto;
  display: inline-block;
  background: transparent;
  font-size: 16px;
  letter-spacing: -.15px;

  margin: 0;
}

.product-name h3{
  font-size: 16px;
  font-family: 'Overpass Mono', sans-serif;
  padding: 0;
  font-weight: 700;
  color: rgb(93, 141, 211);
  display: inline-block;
}

.product-name p{
  display: inline-block;
  font-size: 13px;
  margin--top: -5px;
  margin-bottom: 10px;
}


h5{
  font-weight: 400;
  width: auto;
  display: inline-block;
  z-index: 9999;
  font-size: 16px;
  position: relative;
  margin: 0px 0px;
}

p{
  letter-spacing: .75px;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 150% !important;
}

.info{
  line-height: 200%;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;
}

.product-tile{

    display: inline-block;
  vertical-align: middle;
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 135px;
  background: #000;
}

.product-tile img{
    transition: .3s;
    opacity:1;
}

.link-arrow a{
  padding: 2.5px 0px;
  letter-spacing:.3px;
  display: inline-block;
  vertical-align: middle;
  border: 0px solid transparent;
  transition: .2s ease;
  padding-top: 0;
}

.hoverpointer{
  font-size: 14px;
  font-family: 'Assistant', sans-serif;
  letter-spacing: .3px;
  width: 149px;
  background: white;
  box-sizing: border-box;
  box-shadow: 5px 5px 90px rgba(0,0,0,.1);
  border-radius: 20px;
  padding: 15px 20px;
  opacity: 0;

  z-index: -99999999;
  position: relative;
  line-height: 15px;
  transition: .4s linear;
  margin-left: 0px;
  display: none;
}

.song{
  margin-top: -40px;
}


.product-name{
  background: #f3f3f3;
  box-sizing: border-box;
  text-align: left;
  position: absolute;
  padding: 4%;
  width: 90%;
  box-sizing: border-box;
    transition: .3s;
}

.product-tile:hover{
  cursor: pointer;
}

.product-tile:hover img{
  opacity: .55;
}




.product-tile-back{
    position: absolute;
    width: 88%;
    height: 25px;
    background: rgba(243,171,64,.11);
    box-sizing: border-box;
    padding: 5%;
    margin-left: 0%;
    z-index: -999;
    opacity: 0;
    border: 0px solid transparent;
    transition: .3s;
}


.footer{
  text-align: left;
  width: 40%;
  position: relative;
  font-family: 'Overpass Mono', monospace;
  padding-bottom: 4%;
  padding-top: 5%;
  line-height:190%;
}

.footer a{
  text-decoration: none;
  font-size: 14px;
}

.size-16{
  font-size:14px;
  vertical-align:middle;
}

.size-12{
  font-size: 12px;
  vertical-align: middle;
}

.line{
  width: 95%;
  border-top: 1px solid #505050;
  position: absolute;
  margin-top:12px;
}

.linkheader{
  text-align: left;
  font-family: 'Overpass Mono', monospace;
  z-index: 9999999;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  letter-spacing: -1.5px;
  font-weight: 600;
  top: 0;
}


.linkheader a{
  margin-right: 20px;

  border-bottom: 3px solid  rgb(93, 141, 211);
  margin-bottom: 13px;
  padding-bottom: 1px;
  color: #343945;
}

.linkheader a:hover{
  color: #bbb;
  cursor: pointer;
  border-bottom: 3px solid #bbb;
}

.contact-box{
  width: 90%;
  margin: .75%;
  display:inline-block;
  padding: 2%;
  padding-bottom: 1%;
  padding-bottom: 1%;
  text-align: left;
  text-indent: 75px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #f4f4f4;
  box-shadow: 4px 4px 6px rgba(0,0,0,.03);
  vertical-align: middle;
}

.contact-box p{
  font-size: 11px;
  letter-spacing: .5px;
  text-transform: lowercase;
}

.contact-box:hover{
  background: #fff;
  box-shadow:0 0 0 white;
}

.home-button{
  background: linear-gradient(to right, #8694fd, rgb(93, 141, 211));
  border-radius: 40px;
  text-transform: uppercase;
  color: #fff;
  padding:14px 48px;
  letter-spacing: 2.5px;
  font-weight:bold;
  font-size: 13px;
  line-height: 13px;
  box-shadow: 4px 4px 15px rgba(0,0,0,.15);
  border: 0px solid transparent;
}

.home-button:hover{
  color:#fff;
  background: #8694fd;
  border:0px solid transparent !important;
  margin-top: 0px !important;
  box-shadow: 5.5px 5.5px 13px rgba(0,0,0,.15);
}

.home-button a:hover{
  border: 0px solid transparent !important;
}

.popup{
  top: 0;
  background: white;
  box-sizing: border-box;
  z-index: 9999999;
}


.pos-fixed{
  position: absolute;
}

.pos-relative{
  position: relative;
}

.pos-absolute{
  position:absolute;
}

.close-button{
  outline: none;
  background: rgb(93, 141, 211);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  color: #fff;
  top: 0;
  padding: 0 !important;
  left: 4%;
  margin-top: 4%;
  border:0px transparent solid;
  box-shadow: 4px 4px 17px rgba(0,0,0,.13);
}

.close-button:hover{
  color: rgb(93, 141, 211);
  background: white;
  cursor: pointer;
}

.subject{
  padding: 4px 8px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  margin: 4px;
  margin-top: 7px;
  color: #fff;
  white-space: pre;
  background: rgb(93, 141, 211);
  font-size: 9.5px;
  width: auto;
  display: inline-block;
}

.overflow-scroll{
  overflow:scroll;
}

.img-contact{
  position:absolute;
  width: 50px;
  margin-left: -70px;
}

.contact a{
  border: 0;
}

.bg-me{
  background: url('/img/me.jpg');
  background-size:cover;
  background-position: center bottom;
  box-shadow: 18px 18px 0px rgba(119, 119, 251, .22);
  opacity: .85;
}

.bg-orange{
    background: rgb(93, 141, 211);
    color: #fff;
}

.bg-orange h2{
    color: #fff;
    font-size: 29px;
    letter-spacing: 0px;
    border-bottom: 2px solid #fff;
    height: 39px;
    width: 100%;
}

.bg-orange p{
    line-height: 125%;
}

.bg-orange a{
    border-bottom:1px solid #fff;
}

.f-arch{
    font-family: 'Archetype';
    letter-spacing: 0px;
    font-size: 17px;
}

.f-arch a{
    color: #fff;
}
.tb-cl{
  display: table-cell;
  border-spacing: 50px;
}

.table{
  width: 96%;
  margin-left: 2%;
  border-spacing: 40px 0px;
  box-sizing: border-box;
}

.name{
  margin: 0;
  font-weight: bold;
  border: none;
  border: 0px solid transparent !important;
  font-size: 52px;
  letter-spacing: -3px !important;
  display: block;
  color: #343945 !important;
}


.me-img img{

width: 100%;
}

.pie{
  display:inline-block;
  color: #606060;
  border-bottom: 1px solid rgb(93, 141, 211);}

.pie:hover{
  color: #9a9a9a;
  cursor: pointer;
}
.pie:hover img{
  opacity: 1;
  right: 8%;
}

.pie img{
  opacity: 0;
  position: fixed;
  top: 0;
  width: 40%;
  height: 100%;
  right: -60%;
  z-index: 999;}

h6{
  font-size: 16px;
  margin: 0;
  color: #606060;
}

.size-20{
  font-size: 18px;
}


.body{
  animation: floatingAnim 4s;
}

.ipod{
  animation: floatingAnimiPod 4s;
}


.coffee{
  animation: floatingAnimCoffee 4s;
}

.hands{
  animation: floatingAnimHands 4s;
}



.illustration{
  width: 30%;
  box-sizing: border-box;
  padding: 0% 2%;
  padding-right: 8%;
  position: absolute;
  animation-direction: alternate;
animation-iteration-count: infinite;
}

.alert{
  width: 100%;

}

.alert-coffee{
  width: 2.5%;
  right: 27.5%;
  position: absolute;
  animation: floatingAnimAlert 4s;
  animation-direction: alternate;
animation-iteration-count: infinite;
  z-index:99999;
}

.alert-coffee:hover .hoverpointer{
  z-index: 999;
  display: inline-block;
opacity: 1;}


ul, ol{
  letter-spacing: .5px;
}
