@media only screen and (max-width: 800px) {
  .linkheader {
    padding-right: 15px !important;
    margin-bottom: 20px !important;
  }

  p {
    font-size: 18px;
  }

  .product-name h3 {
    font-size: 24px;
    margin-top: -55px;
  }

  .linkheader a {
    display: inline-block;
  }
  .mobile-m-0 {
    margin: 0;
  }
  .mobile-m-5 {
    margin: 5%;
  }

  .mobile-m-10 {
    margin: 15%;
  }

  .mobile-w-100 {
    width: 100%;
    box-sizing: border-box;
  }

  .abs-link {
    padding-top: 30px;
    padding-bottom: 15px;
    width: 100%;
    z-index: 999;
    background: #fff;
  }
  .mobile-w-80 {
    width: 60%;
    box-sizing: border-box;
  }

  .mobile-w-90 {
    width: 90%;
  }
  .mobile-center {
    text-align: center;
  }

  .mobile-top-15 {
    margin-top: 15%;
  }

  .mobile-m-top-0 {
    margin-top: 0;
  }

  .mobile-p-10 {
    padding: 10%;
  }
  .mobile-bottom-10 {
    margin-bottom: 19%;
  }

  .product-tile {
    margin: 30px 0px;
  }

  .product-name {
    width: 100%;
  }

  .footer {
    margin-bottom: 40px;
  }

  .contact-box {
    margin-bottom: 20px;
  }

  .name {
    display: none;
  }

  .me-img {
    display: none;
  }

  .pie img {
    display: none;
  }

  .pie {
    color: #8f8f8f;
    border: 0px solid transparent;
  }

  .mobile-no-show {
    display: none;
  }

  .mobile-w-94 {
    width: 94%;
  }

  .product-tile {
    margin-bottom: 20px;
    width: 100%;
  }

  .footer h5 {
    font-size: 20px;
  }

  .footer {
    position: relative;
    margin-top: 40px;
  }

  .footer a {
    font-size: 14px;
  }

  .abs-header {
    position: relative;
    margin-top: 40px;
  }
  #portfolio {
    margin-left: 3% !important;
  }

  .mobile-m-l-0 {
    margin-left: 0;
    padding: 50px 0px;
  }

  .close-button {
    font-size: 16px;
  }
  .mobile-align-left {
    text-align: left;
    padding-top: 10% !important;
  }

  .mobile-padding-0 {
    padding: 0;
  }
}

@media only screen and (max-width: 1300px) {
  p {
    font-size: 14px;
  }

  .abs-link a {
    font-size: 14px;
  }

  .ill {
    padding-top: 15%;
  }
  .product-tile p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1300px) {
  .abs-link a {
    font-size: 16px;
  }
}
